<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneralProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GeneralProject.Properties.Settings>
            <setting name="score1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="score2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="score3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="score4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="score5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="score6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="score7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="score8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="score9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="score10" serializeAs="String">
                <value>0</value>
            </setting>
        </GeneralProject.Properties.Settings>
    </userSettings>
</configuration>